.boton_aceptar {
    -fx-background-color: linear-gradient(to bottom, #43ab00, #1a4900);
}

.boton_aceptar.button-hover:hover {
    -fx-background-color: #76c442; /* Un verde más claro */
}

.boton_rechazar {
    -fx-background-color: linear-gradient(to bottom, #ab0000, #600000);
}

.boton_rechazar.button-hover:hover {
    -fx-background-color: #e57373;
}


.boton_posponer {
    -fx-background-color: linear-gradient(to bottom, #e18000, #9f5b00);
}

.boton_posponer.button-hover:hover {
    -fx-background-color: #ffcc80;
}

.boton_aceptar:pressed, .boton_rechazar:pressed, .boton_posponer:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}